
.FundoPlayer {
    width: 180px;
    height:180px;
    border-radius: 6px;
    overflow: hidden;
    border: 4px solid #ccabc1;
    margin-bottom: 100px;
    position: relative;

   
    

}

body { 
background-color: #E6E6FA;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
height: 80vh;


}



.botão {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color:#b44c92;
    border:none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    font-size: 24px;
    
  
}


.Conteiner-principal {

    text-align: center;
    background-color: #E6E6FA;
    padding: 90px;
    border-radius: 30px;
    box-shadow: 0px 10px 30px rgb(0,0,0,0.1);
    max-width: 400px;
    justify-items: center;
    position: relative
   
}


footer {
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
    
}

.Play {
    transform: translate(2px);

}
 
.Pause {

    font-size:27px;
    color: #e2c4d8;
   
}


input[type="text"] { 
    width: 70%;
    display: block;
    margin-top: 50px;
    
   
}

input[type="text"]:focus {
    border-color:#b44c92;
    outline: none;
   



}