@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');






.FundoPlayer {
    width: 25vh;
    height:25vh;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #c981b0;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
    animation: rotacao 15s linear infinite;
    animation-play-state: paused;
    
}

#Nome-cantor, #Nome-musica {
width: 100%;
max-width: 500px;

white-space: nowrap;/*impede o texto de pular linha */
overflow: hidden;/*impede o texto de ultrapassar o limite da width */
text-overflow: ellipsis;/* adiciona tres pontinhos no final do texto cortado*/
}



 
 .rotacao {
   animation-play-state:running;
 }


 .pausada {
    animation-play-state: paused;
 }


body { 
background-color: #E6E6FA;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
min-height: 100vh;




}



.botao-controle {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-color:#b44c92;
    border:none;
    justify-content: center;
    right: 50px;
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    font-size: 24px;
    margin-top: -20px;
    
  
}


.Conteiner-principal {
    margin: 0 auto;
    text-align: center;
    background-color: #e2b1d2;
    padding: 90px;
    border-radius: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    justify-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
}


nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
    gap: 10px;
    
}


#barra-progresso {
    accent-color: #ac2780;
    margin-top: -40px;
    margin-right: -60%;
}



.Play {
    transform: translate(2px);

}
 
.Pause {

    font-size:27px;
    color: #e2c4d8;
   
}


input[type="text"] { 
    width: 70%;
    display: block;
    margin-top: 25px;
    padding: 10px 16px;
    border: 1.5px solid #a13d75; 
    border-radius: 25px; 
    font-size: 14px;
    outline: none;
    background-color: #fff;
    color: #333;
}

input[type="text"]:focus {
border-color: #3a0022; 
box-shadow: 0 0 8px rgba(161, 61, 117, 0.3);
}

h2 {

font-family: "Kiwi Maru", serif;
font-weight: 300;
color: #000000;
font-style: normal;
}

h1 {
font-family: "Kiwi Maru", serif;
font-weight: 400;
color: #000000;
font-style: normal;
}


.start {
color: #624785;
display: inline-flex;
}

#pesquisar {
display: flex;
align-items: center;
padding: 10px 16px 8px 8px;
gap: 8px;
padding: 10px 24px;
border: none;
margin-top: 20px;
cursor: pointer;
background-color:#ac2780;
font-weight: 600;
transition: background-color 0.2s ease, transform 0.1s ease;
border-radius: 24px; 
border: 5px rgb(192, 142, 192) #3d073d;
font-size: 14px;
color: #ffffff;
}

#pesquisar:hover {
     background-color: #831453;
}



@keyframes rotacao {
    from {
        transform: rotate(0deg)
}
   to {
    transform: rotate(360deg)
   }
}

footer {
    text-align: center;      
    padding: 20px 10px;        
    font-family: sans-serif;   
    font-size: 14px;
    

}


@media (1024px <= width <= 1440px) and (650px <= height <= 900px  )  {
    .Conteiner-principal {
    max-height: 90vh;
    padding: 30px 60px;
    gap: 10px;
   
    margin: 0 auto;
    }

body {
padding: 20px 0;
 overflow: hidden;
}

footer {
 margin-top: -19px;
}

 
}

@media (max-width: 768px) {
    .Conteiner-principal {
       
        width: 90%;
        height: auto;
        max-height: 80vh;
        top: 10px;
        padding: 15px ; 
        gap: 13px;
        margin: 0 auto;
        background-color: color-mix(in srgb, purple 15%, pink);
        border-radius: 20px;
        overflow-y: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        
    }

    body {
  margin: 0 auto;
    }

   
    
 #barra-progresso {
    margin-left: 7%;
 } 

.botao-controle{
    right: 35%
    
}
    

#Nome-cantor, #Nome-musica {
font-size: 20px;
white-space: normal;
text-align: center;
}

* {
  -webkit-tap-highlight-color: transparent;
}



}



    


